@import 'ExamMaker';
@import 'ExamList';
@import 'PublicExams';

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

// Home Component
.Home {
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    height: 80vh;
  }
}

// UserLanding Component
.UserLanding {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 10px;

  .heading {
    margin-top: 20px;
  }

  .paragraph {
    padding: 10px;
  }

  .download {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;

    .download-logo {
      height: 40px;
      width: 40px;
      background-image: url('https://s3.amazonaws.com/electron-exam/general/icon.png');
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      margin-right: 20px;
    }

    .download-icon {
      margin-left: 20px;
    }
  }

  .format-image {
    width: 100%;
    display: flex;
    justify-content: center;

    img {
      width: 65vh;
      height: 65vh;
    }
  }
}

// MainNav Component
.avatar {
  height: 50px;
  width: 50px;
  margin-right: 20px;
  border: 1px solid white;
  background-color: lightgrey;
}

.beta {
  font-size: 0.65rem;
  border: 1px solid white;
  padding: 0 2px;
}

// scrollbar customization
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  border-left: 3px solid darken($color: #f2f2f2, $amount: 20);
}

::-webkit-scrollbar-track {
  background-color: transparent;
}
