@import 'MainNav';
@import 'Home';
@import 'ExamMaker';
@import 'MyExams';
@import 'PublicExams';
@import 'UserLanding';

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// scrollbar customization
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  border-left: 3px solid darken($color: #f2f2f2, $amount: 20);
}

::-webkit-scrollbar-track {
  background-color: transparent;
}
